altgraph==0.16.1
cachetools==3.1.1
feedgen==0.8.0
google-api-python-client==1.7.11
google-auth==1.7.2
google-auth-httplib2==0.0.3
httplib2==0.14.0
lxml==4.4.2
numpy==1.17.4
Pillow==6.2.1
pkg-resources==0.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyInstaller==3.5
python-dateutil==2.8.1
rsa==4.7
six==1.13.0
uritemplate==3.0.0
youtube-dl==2019.11.22
